mixin keyvalue(obj)
  each value, key in obj
    div
      span= key + ': ' + value

h2 Server Connections
each connection in connections || []
  div
    h3= 'Connection ' + connection.uri
    span Labels
    span [#{connection.labels}]
    h4 Routes
    table.three-column
      tr
        th HTTP Verb
        th Path
        th Plugin
      each route in connection.routes || []
        tr
          td= route.method
          td= route.path
          td= route.plugin

    h4 Plugins
    div.plugins
      each plug, name in connection.plugins || {}
        h5(id='#{name}')
         a(href='##{name}') #{name}
        div
          table.two-column
            tr
              th Version
              th Multiple
            tr
              td= plug.version
              td= plug.multiple
          div
            h6 Options
            table.two-column
              each key, value in plug.options || {}
                tr
                  td= value
                  td= key
          if plug.attributes.pkg
            div
              h6 Package
              table.two-column
                each key, value in plug.attributes.pkg || {}
                  tr
                    td= value
                    td= key

          else
            div
              h6 Attributes
              +keyvalue(plug.attributes || {})
